<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="C:\Users\VICTUS\source\repos\PlacementAdmin\PlacementAdmin\logs\logfile.txt" layout="${longdate} ${level} ${message} ${exception}" />
		<target name="loginAttemptsFile" xsi:type="File" fileName="C:\Users\VICTUS\source\repos\PlacementAdmin\PlacementAdmin\logs\login_attempts.log" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
		<logger name="LoginAttemptsLogger" minlevel="Info" writeTo="loginAttemptsFile" />
	</rules>
</nlog>
